language: python
python:
  - "2.7"
  - "3.5"
env:
  - DJANGO_VERSION=1.7
  - DJANGO_VERSION=1.9
install:
  - pip install -q Django==$DJANGO_VERSION
  - pip install --upgrade setuptools
script: python runtests.py
